<div>
  <ui-gmap-google-map center="map.center" zoom="map.zoom"  control="map.control" refresh="true">
    <ui-gmap-marker idkey="map.marker.idKey" model="map.marker" coords="map.marker.coords" icon="map.marker.icon" click="map.marker.onClicked">
      <ui-gmap-window show="map.marker.showWindow" closeClick="'closeClick'" ng-cloak>

          <div class="map-info">
            <p>{{ city }}</p>
            <div ng-controller='PointInfoCtrl'>
              <a class="btn map-info" ng-click="clickedButtonInWindow()">More Info</a>
            </div>
          </div>

       </ui-gmap-window>
    </ui-gmap-marker>
  </ui-gmap-google-map>
</div>
