<div>

  <h3>Map Radius</h3>
<!--
  <img class="img-responsive" src="styles/images/vendor/google/desktop/powered-by-google-on-white.png" alt="">
 -->
    <pre>Model: {{asyncSelected | json}}</pre>

    <input type="text" ng-model="asyncSelected" placeholder="Type at least 3 characters" typeahead="address as address.formatted_address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-min-length="3" typeahead-editable="false" typeahead-on-select="onSelect($item, $model)" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

</div>
