<div class="container">
    <div class="well-lg about-overlay">
      <div class="row">
        <section id="mission">
          <h1 class="about-header">Our mission</h1>
          <p class="mission-text">
            Movn&#8217;There is dedicated to helping you find out everything you need to know about your new neighborhood. Get a glimpse at your new community by viewing census data, school information, crime ratings, nearby shopping &amp; restaurants, public transportation information and more.
          </p>
        </section>
      </div>
      <div class="row">
        <section id="cast">
          <h1 class="about-header">Cast members</h1>
          <p class="cast-name">Holly Moody</p>
          <p class="cast-title">Founder, Lead Developer</p>
          <p class="cast-name">Brittany Jack</p>
          <p class="cast-title">Partner, UX Design</p>
        </section>
      </div>
    </div>
</div>

