<div class="container" ng-controller="SignupCtrl">

    <form role="form" name="signupForm" ng-submit="signup(credentials)" novalidate>
        <h3 class="form-signin-heading">Sign Up</h3>

        <br>

        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="first_name" class="form-control" id="first_name" ng-model="credentials.first_name" required>
        </div>

        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="last_name" class="form-control" id="last_name" ng-model="credentials.last_name" required>
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" ng-model="credentials.email" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ng-model="credentials.password" required>
        </div>

        <div class="form-group">
            <label for="password_confirmation">Password Confirmation</label>
            <input type="password" class="form-control" id="password_confirmation" ng-model="credentials.password_confirmation" required>
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="signupForm.$invalid">Sign Up</button>
    </form>
    </br>
    <div><a ng-click="goTologin()">Already a user?  Log In!!!</a></div>
</div>
