<div class="container" ng-controller="SignupCtrl">

    <h1 id="main-header">Find out everything you need to know about your new neighborhood</h1>

    <div class="well-lg signup-overlay">

        <form class="form-horizontal" role="form" name="signupForm" ng-submit="signup(credentials)" novalidate>

            <div class="row">
                <div class="col-md-12 text-center>"
                <h2 id="form-signinup-heading">Sign Up</h2>
                </div>
            </div>
                <div class="form-group">
                    <label for="first_name" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="first_name" class="form-control" id="first_name" ng-model="credentials.first_name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="last_name" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="last_name" class="form-control" id="last_name" ng-model="credentials.last_name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" ng-model="credentials.email" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" ng-model="credentials.password" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password_confirmation" class="col-sm-2 control-label">Confirmation</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password_confirmation" ng-model="credentials.password_confirmation" required>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary  mvnthere-btn" ng-disabled="signupForm.$invalid">Sign Up</button>
            </form>
    </br>
    <div><a class="signinup-text" ng-click="goTologin()">Already a user?&emsp;&emsp;Log In!!!</a></div>
</div>
